a {
  color:#080; /* blue links are so overrated, green ftw */
  text-decoration:none;
}
a:hover {
  color:#0d0;
}
abbr {
  cursor:help;
  text-decoration: dotted underline;
}
address {
  cursor:pointer;
  font-size: 12px;
  font-family: "Times New Roman", Times;
}
article {
  cursor:auto;
}
aside {
  cursor:auto;
}
b {
  cursor:auto;
  font-size: 20px;
}
blockquote {
  cursor:auto;
  font-style: italic;
  color: #555;
  padding: 20px;
}
body {
  cursor:auto;
}
button {
  cursor:pointer;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin-top: 5px;
  margin-bottom: 5px;
}
button:hover {
  cursor: pointer;
}
canvas {
  cursor:crosshair;
}
caption {
  cursor:help;
  font-style: italic;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
cite {
  cursor:help;
  font-style: italic;
}
code, .code {
  font-family: "Consolas","Courier New",monospace;
}
col {
  
}
colgroup {
  
}
datalist {
  
}
dd {
  
}
del {
  
}
details {
  /* Not implemented in FF or Edge yet */
}
dfn {
  font-style: bold;
}
dialog {
  /* Not implemented in FF or Edge yet */
}
div {
  padding: 10px;
}
div.pagewrapper {
  margin-left: 200px;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 20px;
}
dl {
  
}
dt {
  
}
em {
  font-style: bold italic underline;
}
fieldset {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
figcaption {
  cursor:help;
}
figure {
  
}
footer {
  display: inline;
  background-color: #efefef;
  position: fixed;
  margin-left: 120px;
  padding: 20px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 30px;
  font-size: 12px;
}
form {
  padding: 5px;
}
h1 {
  text-align: center;
  font-size: 48px;
  font-weight: lighter;
}
h2 {
  text-align: center;
  color: #555;
  font-size: 24px;
  font-weight: lighter;
}
h3 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
h4 {
  
}
h5 {
  
}
h6 {
  
}
header {
  text-align: left;
  display: inline;
  background-color: #efefef;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  left: 0x;
  top: 0px;
  bottom: 0px;
  width: 120px;
  height: 100%;
  font-size: 16px;
}
hr {
  margin: 20px;
}
html {
  font-family: "Segoe UI", Arial, sans-serif;
  /* font-family: "Comic Sans MS", Arial, sans; */
}
iframe {
  
}
img {
  
}
input {
  font-family: "Segoe UI",Arial,sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type=submit], button {
  display: inline-block;
  
}
input[type=text], input[type=password] {
  text-align: left;
  display: block;
  width: 200px;
}
input[type=checkbox] {
  display: inline-block;
}
input[type=radio] {
  display: inline-block;
}
ins {
  font-style: underline;
}
kbd {
  
}
keygen {
  
}
label {
  
}
legend {
  
}
li {
  margin-top: 5px;
  margin-bottom: 5px;
}
link {
  
}
main {
  
}
map {
  
}
mark {
  
}
menu {
  
}
menuitem {
  
}
meter {
  
}
nav {
  
}
noscript {
  
}
object {
  
}
ol {
  
}
optgroup {
  
}
option {
  
}
output {
  
}
p {
  font-size: 16px;
}
pre {
  
}
progress {
  
}
q {
  
}
s {
  
}
samp {
  
}
select {
  
}
small {
  
}
span {
  display: inline;
  font-size: 12px;
  margin: 5px;
}
strong {
  
}
sub {
  
}
summary {
  
}
sup {
  
}
table {
  
}
tbody {
  
}
td {
  
}
textarea {
  font-family: "Consolas",monospace;
  font-size: 12px;
  width: 95%;
  padding: 5px;
}
tfoot {
  
}
th {
  
}
thead {
  
}
time {
  
}
title {
  
}
tr {
  
}
u {
  
}
ul {
  list-style-type: none;
  list-style-position: outside;
}
var {
  
}
video {
  
}

.ln {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
}
.warning {
  color: #f00;
}

/* Display types */
.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.inline-flex {
  display: inline-flex !important;
}
.hidden {
  display: none !important;
}

/* Position types */
.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
.horizontal {
  float: left !important;
}

/* Cursor types */
.pointer {
  cursor: pointer !important;
}
.grab {
  cursor: grab !important;
}
.grabbing {
  cursor: grabbing !important;
}
.crosshair {
  cursor: crosshair !important;
}
.help {
  cursor: help !important;
}

/* List styles */
ul.nodot {
  list-style: none !important;
}
ul.square {
  list-style-type: square !important;
}
ul.circle {
  list-style-type: circle !important;
}
ul.roman {
  list-style-type: upper-roman !important;
}
ul.alpha {
  list-style-type: lower-alpha !important;
}
ul.inside {
  list-style-position: inside !important;
}
ul.outside {
  list-style-positon: outside !important;
}

/* Border styles */
.noborder {
  border-style: none !important;
  border-width: 0px !important;
}
.round-corners {
  border-radius: 8px !important;
  border-width: 3px !important;
}
.solid {
  border-style: solid !important;
}
.inset {
  border-style: inset !important;
}
.outset {
  border-style: outset !important;
}

/* Fonts */
.arial {
  font-family: Arial !important;
}
.verdana {
  font-family: Verdana !important;
}
.helvetica {
  font-family: Helvetica !important;
}
.helvetica-neue {
  font-family: "Helvetica Neue",Arial,sans-serif !important;
}
.courier-new {
  font-family: "Courier New",monospace !important;
}
.consolas {
  font-family: "Consolas",monospace !important;
}
.comic-sans {
  font-family: "Comic Sans MS" !important;
}
.segoe-ui-light {
  font-family: "Segoe UI Light",sans-serif !important;
}
.times-new-roman {
  font-family: "Times New Roman" !important;
}

/* Text sizes */
.8pt {
  font-size: 8px !important;
}
.9pt {
  font-size: 9px !important;
}
.10pt {
  font-size: 10px !important;
}
.11pt {
  font-size: 11px !important;
}
.12pt {
  font-size: 12px !important;
}
.13pt {
  font-size: 13px !important;
}
.14pt {
  font-size: 14px !important;
}
.16pt {
  font-size: 16px !important;
}
.18pt {
  font-size: 18px !important;
}
.20pt {
  font-size: 20px !important;
}
.24pt {
  font-size: 24px !important;
}
.28pt {
  font-size: 28px !important;
}
.32pt {
  font-size: 32px !important;
}
.36pt {
  font-size: 36px !important;
}
.42pt {
  font-size: 42px !important;
}
.48pt {
  font-size: 48px !important;
}
.64pt {
  font-size: 64px !important;
}

/* Text styles */
.textleft {
  text-align: left !important;
}
.textright {
  text-align: right !important;
}
.textcentered {
  text-align: center !important;
}
.bolded {
  font-style: bold !important;
}
.italicized {
  font-style: italic !important;
}
.underlined {
  text-decoration: underline !important;
}
.widekerning {
  letter-spacing: 0.4em !important;
}
.smallcaps {
  font-variant: small-caps !important;
}
.allcaps {
  text-transform: uppercase !important;
}
.alllower {
  text-transform: lowercase !important;
}

/* Image styles */
img.large-thumbnail {
  width: 240px;
  height: 180px;
}
img.thumbnail {
  width: 120px;
  height: 90px;
}
img.small-thumbnail {
  width: 80px;
  height: 60px;
}

/* Common text colors */
.black {
  color: black;
}
.darkdarkgray {
  color: #222;
}
.darkgray {
  color: #555;
}
.gray {
  color: gray;
}
.lightgray {
  color: #aaa;
}
.lightlightgray {
  color: #ddd;
}
.white {
  color: white;
}
.red {
  color: #f00;
}
.green {
  color: #0f0;
}
.blue {
  color: #00f;
}
.yellow {
  color: #ff0;
}
.cyan {
  color: #0ff;
}
.magenta {
  color: #f0f;
}

/* Scratchblock colors */
.sb {
  font-family:"Lucida Grande","DejaVu Sans",sans-serif;
  border-style: outset;
  border-width: 3px;
}
.sb.arg {
  border-radius: 2px;
  background-color: white;
  border-color: #ddd;
  color: black;
}
.sb.arg.text {
  border-radius: 0px;
}
.sb.arg.num {
  border-radius: 10px;
}
.sb.motion {
  background-color: #4a6cd4;
  border-color: #4a6cd4;
  color: white;
}
.sb.looks {
  background-color: #8a55d7;
  border-color: #8a55d7;
  color: white;
}
.sb.sound {
  background-color: #bb42c3;
  border-color: #bb42c3;
  color: white;
}
.sb.pen {
  background-color: #0e9a6c;
  border-color: #0e9a6c;
  color: white;
}
.sb.events {
  background-color: #c88330;
  border-color: #c88330;
  color: white;
}
.sb.control {
  background-color: #e1a91a;
  border-color: #e1a91a;
  color: white;
}
.sb.sensing: {
  background-color: #2ca5e2;
  border-color: #2ca5e2;
  color: white;
}
.sb.operators {
  background-color: #5cb712;
  border-color: #5cb712;
  color: white;
}
.sb.data {
  background-color: #ee7d16;
  border-color: #ee7d16;
  color: white;
}
.sb.list {
  background-color: #cc5b22;
  border-color: #cc5b22;
  color: white;
}
.sb.custom {
  background-color: #632d99;
  border-color: #632d99;
  color: white;
}
.sb.custom-arg {
  background-color: #5947b1;
  border-color: #5947b1;
}
.sb.extensions {
  background-color: #4b4a60;
  border-color: #4b4a60;
  color: white;
}
.sb.undefined {
  background-color: #d42828;
  border-color: #d42828;
  color: white;
}
.sb.comment {
  background-color: #ffffd2;
  border-color:#d0d1d2;
  color: #505050;
}
