<header>
<ul class="nodot">
<li class="allcaps bolded"><a href="//zro617.github.io">Home</a></li>
<li class="allcaps"><a href="//zro617.github.io/aboutme.html">About Me</a></li>
<li class="allcaps"><a href="//zro617.github.io/index.html">Placeholder1</a></li>
<li class="allcaps"><a href="//zro617.github.io/index.html">Placeholder2</a></li>
<li class="allcaps"><a href="//zro617.github.io/index.html">Placeholder3</a></li>
<li class="allcaps"><a href="//zro617.github.io/index.html">Placeholder4</a></li>
</ul>
</header>
